# MySagra Backend
PEPPER="your_pepper"
JWT_SECRET="your_secret"
ALLOWED_ORIGINS="http://localhost:3000"
NODE_ENV=production
TRUST_PROXY_LEVEL=2

# Database
DB_USER="mysagra"
DB_USER_PASSWORD="your_password"
MYSQL_DATABASE="mysagra"
ROOT_PASSWORD="your_root_password"

# MyAmministratore
AUTH_URL_AMMINISTRATORE=http://localhost:3000
API_URL=http://localhost:4300
AUTH_SECRET="your_secret"